<div class="sidebar" style="position: fixed; top: 0; width: auto; z-index: 1000;">

    <div class="sidebar ">
        <ul class="nav flex-column">
            <%= userEmail %>
            <h1 class="nav-item">
                <a class="nav-link">Admin</a>
            </h1>
            <li class="nav-item">
                <a class="nav-link" href="/reporter">Reporter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/mahasiswa">Mahasiswa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/kegiatan">kegiatan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/berita">Berita</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/kegiatan_mahasiswa">Kegiatan Mahasiswa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link logout bg-danger" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</div>